In [1]:
import pandas as pd
import numpy as np

In [9]:
df = pd.read_csv('./data/bill_detail.csv')

In [10]:
df.head()

   bill_no  bill_total  bill_tip  bill_time  bill_date
0        1         NaN       NaN        NaN        NaN
1        2         NaN       NaN        NaN        NaN
2        3         NaN       NaN        NaN        NaN
3        4         NaN       NaN        NaN        NaN
4        5         NaN       NaN        NaN        NaN

In [ ]:
np

TypeError: 'module' object is not callable